STATSBOMB_USERNAME=your_username_here
STATSBOMB_PASSWORD=your_password_here
SKILLCORNER_USERNAME=your_username_here
SKILLCORNER_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=5432
DB_NAME=fc_metz_mini_projet
DB_USER=postgres
DB_PASSWORD=your_password_here